/*------------------------------------------------------GENERAL----------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
}
body {
  font-family: TS-Reg, sans-serif;
  background-color: #fff;
}

.container {
  max-width: 1184px;
  margin: 0 auto;
  height: 100%;
}

a {
  color: #000;
  text-decoration: none;
}
h1 {
  font-size: 54px;
  font-family: TS-Med, sans-serif;
  line-height: 65px;
  font-weight: bold;
  letter-spacing: 1.1px;
  margin: 20px 0 5px 0;
}
h2 {
  margin: 25px 0;
  font-size: 28px;
  line-height: 34px;
  font-weight: bold;
  font-family: "TS-Med, sans-seri";
}
h3 {
  margin: 30px 0 20px 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  color: #000000;
}
h4 {
  padding: 0 0 20px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  color: #333333;
}
h5 {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #000000;
}
img:hover {
  opacity: 0.8;
}
/*------------------------------------------------------------------------HEADER-----------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/

.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}
.hidden {
  display: none;
}
.header img {
  width: 200px;
  height: 60px;
}

header a {
  border-radius: 20px;
  padding: 8px 10px;
}

header a:hover {
  background-color: #dcd8d8;
}

header .btn {
  width: 150px;
  height: 40px;
  background-color: #333333;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  border-radius: 20px;
  border: none;
}

nav p {
  font-size: 16px;
  font-weight: normal;
}

/*---------------------------------------------------------------------MAIN----------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
h1 span {
  color: #ff5e5e;
}

h1 + p {
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}

.choice {
  display: flex;
  gap: 10px;
  margin: 20px auto;
}

.choice > div {
  display: flex;
  justify-content: space-between;
  width: calc((100% - 50px) / 6);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 15px;
}

.choice .slice {
  display: none;
}
.choice div:hover {
  color: white;
  background-color: #000;
}

/*----------------------------------------------Image 1ère section-------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/

.city {
  height: 430px;
  display: flex;
  gap: 2px;
}

.picture-city1 {
  flex: 1;
  height: 100%;
}
.city img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.picture-city2 {
  width: 480px;
  display: flex;
  flex-direction: column;
  margin: cal((100%-480px)/2) 0;
}

.picture-city2 img {
  height: 213px;
}

/*----------------------------------------------Navigation Destination---------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/

.destination {
  display: flex;
  margin: 25px 0;
  justify-content: space-between;
  margin: 25px 0;
}
.destination nav {
  display: flex;
  gap: 10px;
}
.destination a:hover {
  text-decoration: underline;
}

.infos-city {
  display: flex;
  justify-content: space-between;
  gap: 20%;
}

.infos-city p {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
}

.infos-city-text {
  width: 60%;
}

.maps-city {
  width: 40%;
}
.maps-city h3 {
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 2px;
  margin-top: 30px;
}
.maps-city p {
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 2px;
  margin: 20px 0;
}
div .maps-city-text {
  background-color: #fe5d5d;
  height: 65%;
  padding: 30px 20px;
  border-radius: 20px 20px 0 0;
}
div .maps-city-img {
  height: 35%;
}
div .maps-city-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}
.maps-city .btn {
  width: 150px;
  height: 40px;
  background-color: #333333;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  border-radius: 15px;
  border: none;
  margin: 20px 0;
}

/*----------------------------------------------------CAROUSSEL----------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/

.must-of-paris {
  display: flex;
  gap: 16px;
  margin-bottom: 60px;
}

.must-of-paris > div p {
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  color: #333333;
}

.must-of-paris-description {
  width: 270px;
}
.must-of-paris-description a {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: underline;
}

.must-of-paris-description a:hover {
  color: #545454;
}
.must-paris-pictures {
  display: flex;
  flex: 1;
  gap: 16px;
  overflow: scroll hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/*Masquer la  scrollbar*/
.must-paris-pictures::-webkit-scrollbar {
  display: none;
}

.must-paris-pictures > div {
  flex-shrink: 0;
  width: calc((100% - 32px) / 3);
}

.articles a p {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.rating span {
  font-size: 12px;
  line-height: 14px;
  color: #333333;
}
.caroussel {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 270/200;
  object-fit: cover;
}

.relative {
  position: relative;
}

.heart {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: 80%;
  right: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.travellers-choice {
  width: 35px;
  height: 45px;
  position: absolute;
  bottom: 5%;
  left: 3%;
  border-radius: 50px 50px 10px 10px;
}
.yellow {
  background-color: #f2b301;
}
.green {
  background-color: #36e0a1;
}
.rating {
  display: flex;
  align-items: center;
}
.rating span {
  padding-left: 20px;
}

.icon-bubble_rating_bg,
.icon-bubble_rating_half,
.icon-bubble_rating_empty {
  color: #04a96c;
  font-size: 18px;
  justify-content: center;
}
.icon-bubble_rating_half,
.icon-bubble_rating_empty {
  font-size: 14px;
}
.must-paris-pictures.interêt > div {
  flex-shrink: 0;
  width: calc((100% - 42px) / 4);
}

/*----------------------------------------------------CAROUSSEL----------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/

footer {
  height: 155px;
  background-color: #f9f1ec;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer img {
  width: 40px;
  height: 40px;
}
footer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/*----------------------------------------------------MEDIAS QUERIES------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 1184px) {
  .container {
    padding: 0 25px;
  }
  .choice .slice {
    display: flex;
  }
  .choice > div {
    width: calc((100% - 30px) / 4);
  }

  .choice {
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
  header span {
    display: none;
  }

  .picture-city1 {
    flex: none;
    width: 65%;
  }

  .picture-city2 {
    width: 35%;
    margin: cal((100%-320px)/2) 0;
  }

  .infos-city-text {
    width: 100%;
  }
  .maps-city {
    display: none;
  }
  .must-of-paris-description {
    width: 315px;
  }

  .must-paris-pictures > div {
    width: calc((100% - 32px) / 2.5);
  }
  .must-paris-pictures.interêt > div {
    flex-shrink: 0;
    width: calc((100% - 42px) / 3);
  }
}

@media (max-width: 920px) {
  .must-of-paris-description {
    width: 280px;
  }
}

@media (max-width: 768px) {
  header .container {
    padding-right: 0;
  }

  .hidden {
    display: flex;
  }

  header a {
    display: none;
  }

  header .btn {
    display: none;
  }
  .visibility {
    display: flex;
  }

  nav {
    display: flex;
    align-items: center;
  }

  .header img {
    width: 130px;
    height: 28px;
  }

  .header {
    align-items: center;
  }

  .choice {
    flex-wrap: nowrap;
    overflow: scroll hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /*Masquer la  scrollbar*/
  .choice::-webkit-scrollbar {
    display: none;
  }

  .choice > div {
    width: fit-content;
    flex-shrink: 0;

    gap: 10px;
  }
  .picture-city1 {
    width: 100%;
  }
  .picture-city2 {
    display: none;
  }
  .destination {
    display: none;
  }

  .must-of-paris {
    flex-direction: column;
  }
  .must-of-paris-description {
    width: 100%;
  }
}

@media (max-width: 696px) {
  .must-paris-pictures > div {
    width: calc((100% - 16px) / 1.5);
  }
  .must-paris-pictures.interêt > div {
    flex-shrink: 0;
    width: calc((100% - 24px) / 1.6);
  }
}
